body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

textarea {
    width: 90%;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4a54e1;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

.resulta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.texta {
    text-align: left;
    max-width: calc(100% - 120px);
    order: 2;
}

img {
    max-width: 100px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    order: 1;
}
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.6;
    background: #e4e4e4;
    z-index: 99;
    text-align: center;
}

#loading > img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
}

#loading > p {
    position: absolute;
    top: 60%; /* 이미지 아래 적당한 위치 조정 */
    left: 50%;
    z-index: 101;
    transform: translateX(-50%); /* X축 기준 중앙 정렬 */
}
